 .service-list, .para-style, .header-one-style, .head-five {
    font-family: athelas, serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
}

.hero-img-services {
    background-image: url(/images/thingy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    /* width: 68rem; */
    margin-top: 65px;

}

.services {
    margin: 0 auto;
}
.header-one-style {
    font-size: 4rem;
    margin-left:10%;
}
.para-style {
    line-height: inherit;
    font-size: 17px;
}
.head-five {
    text-align: center;
    font-size: 2rem;
}
.services-button {
    font-family: athelas, serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    background-color: white;
    width: 120px;
    height: 45px;
    margin-left: 39%;
}
.services-button:hover {
    background-color: black;
    color: white;
    }
@media only screen and (max-width: 991px) {
    .hero-img-services {
        background-image: url(/images/forrest-mobile.png);
        margin-top: 0px;
        height: 100vh;
  
    }
    .header-one-style, .para-style, .head-five, .service-list {
        color: black;
    }
    .services-button {
        background-color: black;
        color: white;
        font-family: athelas, serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
    }
  
    
    .header-one-style {
        font-size: 40px;
        margin-left: 0px;
        
    }
    .para-style {
        line-height: inherit;
        font-size: 17px;
        text-align: left;
    }
    .head-five {
        text-align: center;
        font-size: 2rem;
    }
    .services-button {
        font-family: athelas, serif;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        
        width: 120px;
        height: 45px;
        margin: 0 auto;
    }
    .services {
        margin: 0px;
    }
    .text-area {
        text-align: center!important;
    }
    .servicesPage-list {
        text-align: left;
    }
}