html, body {
    height: 100vh;
    /* height: 100%; */
    /* overflow: hidden; */

}
@media only screen and (max-width: 991px) {
    .side-area {
      display: none;
    }
  }
  .side-area, .main-area{
    padding: 0;
  }
