
 .main-img-home {
    background-image: url(/images/web-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.hero-text-home{
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 100px;
}
.bespoke, .hand-crafted, .goods, .by {
   font-family: athelas, serif;
   font-weight: 400;
   font-style: normal;
   text-decoration: none;
   color: white;
}
.bespoke {
   font-size: 9rem;
   letter-spacing: -7px;
   line-height: 90px;
}
.hand-crafted {
   font-size: 70px;
}
.goods {
   font-size: 5rem;
   line-height: 47px;
}
.logo-white {
   width: 27%

}
.by {
   font-size: 2rem;
   line-height: 3;

}