.text-about {
    font-family: athelas, serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
    line-height: 40px;
    text-align: justify;
 }
 .about-txt{
     margin-left: -11%;
 }
 .hero-image-about {
    height: 76%;
    
 }
 @media only screen and (max-width: 991px) {
   
     .about-txt {
         margin-left: 0px;
     }
 }
 @media only screen and (max-width: 1130px) {
    .hero-image-about {
        height: AUTO;
        width: 325px;
        margin: 0 auto;
     }
 }
