.exclamation {
    width: 60px;

}

.payIcon{
    text-align: center;
}

.payment, .payment-sorry {
    align-self: center;
    margin: 20px;
    font-family: athelas, serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    
    }

    .payment-sorry{
    letter-spacing: 3px;
    font-size: 68px;
}

.transaction {
    text-align: center;
}

.retry{
    font-size: 32px;
}

.paypal-retry{
    text-align: center;

}

.fail-img{
    background-image: url(/images/fail-img.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    background-size: cover;
   margin: 25px;
   width: 98%;
   margin-bottom: 0px;
   color: white;
}

@media only screen and (max-width: 991px) {
    .fail-img {
        background-image: url(/images/mobile-fail.jpg);
        width: 100%;
        margin: 0px;
    }

}
